@charset "utf-8";

	/*reset*/
	* { margin:0; padding:0; box-sizing:border-box;outline:0  }
	a { color:inherit; text-decoration:none;}
	ul,ol { list-style-type:none;}
	address, em,i{ font-style:normal }
	h1,h2,h3,h4,h5,h6,address, em, i { font-style:normal }
	table {border-collapse:collapse}
	.hide {position:absolute; left:-10000em; top:-10000em;}
	fieldset, button {border:none;}
	.clearfix {*zoom:1}
	.clearfix:after {content:''; display:block; clear:both}
	img { border:0;  border:none;}
	button {border:0; background:transparent; }
	input, select, textarea, button {vertical-align:middle}
	img, fieldset { border:0; border:none}
